# Mengabaikan file output Quantum Espresso
*.out
*.save/
*.wfc/
*.igk

# Mengabaikan file input sementara
*.tmp
*.temp

# Mengabaikan file log
*.log
*.error

# Mengabaikan folder build dan temp
build/
temp/

# Mengabaikan semua file .bak
*.bak

# Mengabaikan file sementara editor
*~

# Mengabaikan folder outdir yang sering digunakan sebagai direktori output
outdir/
